<table class="table table-noborder table-compact">
  <tbody>
  <tr>
    <td class="cell"><app-cell [loc]="0"></app-cell></td>
    <td class="cell"><app-cell [loc]="1"></app-cell></td>
    <td class="cell"><app-cell [loc]="2"></app-cell></td>
  </tr>
  <tr>
    <td class="cell"><app-cell [loc]="3"></app-cell></td>
    <td class="cell"><app-cell [loc]="4"></app-cell></td>
    <td class="cell"><app-cell [loc]="5"></app-cell></td>
  </tr>
  <tr>
    <td class="cell"><app-cell [loc]="6"></app-cell></td>
    <td class="cell"><app-cell [loc]="7"></app-cell></td>
    <td class="cell"><app-cell [loc]="8"></app-cell></td>
  </tr>
  </tbody>
</table>
