<table class="table table-noborder table-compact">
  <tbody>
  <tr>
    <td class="cell"><app-cell [loc]="cellLoc[0]"></app-cell></td>
    <td class="cell"><app-cell [loc]="cellLoc[1]"></app-cell></td>
    <td class="cell"><app-cell [loc]="cellLoc[2]"></app-cell></td>
  </tr>
  <tr>
    <td class="cell"><app-cell [loc]="cellLoc[3]"></app-cell></td>
    <td class="cell"><app-cell [loc]="cellLoc[4]"></app-cell></td>
    <td class="cell"><app-cell [loc]="cellLoc[5]"></app-cell></td>
  </tr>
  <tr>
    <td class="cell"><app-cell [loc]="cellLoc[6]"></app-cell></td>
    <td class="cell"><app-cell [loc]="cellLoc[7]"></app-cell></td>
    <td class="cell"><app-cell [loc]="cellLoc[8]"></app-cell></td>
  </tr>
  </tbody>
</table>
