<table class="table table-noborder table-compact">
  <tbody>
  <!--pass grid location into cell component-->
  <!--pass mine status into cell component-->
  <tr>
    <td class="cell"><app-cell [loc]="0" [mine]="getMineLoc(0)"></app-cell></td>
    <td class="cell"><app-cell [loc]="1" [mine]="getMineLoc(1)"></app-cell></td>
    <td class="cell"><app-cell [loc]="2" [mine]="getMineLoc(2)"></app-cell></td>
  </tr>
  <tr>
    <td class="cell"><app-cell [loc]="3" [mine]="getMineLoc(3)"></app-cell></td>
    <td class="cell"><app-cell [loc]="4" [mine]="getMineLoc(4)"></app-cell></td>
    <td class="cell"><app-cell [loc]="5" [mine]="getMineLoc(5)"></app-cell></td>
  </tr>
  <tr>
    <td class="cell"><app-cell [loc]="6" [mine]="getMineLoc(6)"></app-cell></td>
    <td class="cell"><app-cell [loc]="7" [mine]="getMineLoc(7)"></app-cell></td>
    <td class="cell"><app-cell [loc]="8" [mine]="getMineLoc(8)"></app-cell></td>
  </tr>
  </tbody>
</table>
