<header class="header header-2">
  <!--title with flame instead of O in burnout-->
  <div class="branding">
    <a class="nav-link title" routerLink="/home">
      <span class="title">B U R N</span>
      &nbsp;
      <clr-icon shape="flame" class="is-solid is-error icon"></clr-icon>
      &nbsp;
      <span class="title">U T</span>
    </a>
  </div>
  <!--navigation links-->
  <div class="header-nav">
    <a class="nav-link nav-text comp" routerLink="/home">Home</a>
    <a class="nav-link nav-text comp" routerLink="/how-to-play">How to Play</a>
    <a class="nav-link nav-text comp" routerLink="/play">Play</a>
    <a class="nav-link nav-text comp" routerLink="/statistics">Statistics</a>
  </div>
  <div class="header-actions">
    <a href="https://github.com/brito-j/nxmine" target="_blank" class="nav-link nav-icon">
      <clr-icon shape="code" size="36"></clr-icon>
    </a>
  </div>
</header>
