.header .branding .clr-icon,
.header .branding clr-icon,
header .branding .clr-icon,
header .branding clr-icon
{
  margin-right: 0rem;
}

.branding
{
  width: 9.45rem;
}

.nav-link
{
  width: 75%;
  margin: 0 auto;
}
