/*remove extraneous spacing*/
.header .branding .clr-icon,
.header .branding clr-icon,
header .branding .clr-icon,
header .branding clr-icon
{
  margin-right: 0rem;
}

/*set width to align with sidenav view*/
.branding
{
  width: 18%;
}

/*restrict width of header navigation links*/
.title, .comp
{
  width: 75%;
  margin: 0 auto;
}

.header-actions
{
  text-align: right;
}
