<header class="header header-2">
  <div class="branding">
    <a class="nav-link">
      <span class="title">B</span>
      &nbsp;
      <clr-icon shape="flame" class="is-solid is-error icon"></clr-icon>
      &nbsp;
      <span class="title">R N O U T</span>
    </a>
  </div>
  <div class="header-nav">
    <a class="nav-link nav-text" routerLink="/home">Home</a>
    <a class="nav-link nav-text">How to Play</a>
    <a class="nav-link nav-text" routerLink="/play">Play</a>
    <a class="nav-link nav-text">Statistics</a>
  </div>
</header>
