<div class="page" *ngIf="showMarkSelection">
  <div class="page-content">
    <h1>Player One:</h1>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <div class="card clickable ex" id="ex1" (click)="selectMark(0)">
        <clr-icon shape="window-close" size="72"></clr-icon>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card clickable oh" id="oh1" (click)="selectMark(1)">
        <clr-icon shape="circle" size="72"></clr-icon>
      </div>
    </div>
  </div>

  <div class="page-content">
    <h1>Player Two:</h1>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <div class="card clickable ex" id="ex2" (click)="selectMark(2)">
        <clr-icon shape="window-close" size="72"></clr-icon>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card clickable oh" id="oh2" (click)="selectMark(3)">
        <clr-icon shape="circle" size="72"></clr-icon>
      </div>
    </div>
  </div>

  <br>
  <div class="card clickable" (click)="startGame()">
    <button type="button" class="btn btn-link" (click)="startGame()">play</button>
  </div>
</div>
<app-grid *ngIf="showGrid"></app-grid>
