<div class="main-container">
  <div class="content-container">
    <div class="content-area">
      <br>
      <br>
      <h1 class="title">B U R N O U T</h1>
      <br>
      <br>
      <clr-icon shape="flame" size="72" class="is-solid is-error icon"></clr-icon>
      <br>
      <br>
      <br>
      <button type="button" class="btn btn-info-outline" [routerLink]="['/how-to-play']">How to Play</button>
      <button type="button" class="btn btn-info-outline" [routerLink]="['/play']">Play</button>
      <button type="button" class="btn btn-info-outline" [routerLink]="['/statistics']">Statistics</button>
    </div>
  </div>
</div>
