.page
{
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

.page-content
{
  display: inline-block;
}

.ex
{
  float: left;
}

.oh
{
  float: right;
}

.card
{
  background: #F7F5ED;
}

.card.clickable:hover
{
  box-shadow: 0 0.125rem 0 0 #485969;
  border: 1px solid #485969;
}

.content-area
{
  background: #F4F1E6;
}

.name
{
  text-align: center;
}
