<div class="page">
  <div class="page-content">
    <h1>Player One:</h1>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <div class="card clickable ex" id="x1" (click)="selectMark(0)">
        <clr-icon shape="times" size="72"></clr-icon>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card clickable oh" id="o1" (click)="selectMark(1)">
        <clr-icon shape="circle" size="72"></clr-icon>
      </div>
    </div>
  </div>

  <div class="page-content">
    <h1>Player Two:</h1>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <div class="card clickable ex" id="x2" (click)="selectMark(2)">
        <clr-icon shape="times" size="72"></clr-icon>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card clickable oh" id="o2" (click)="selectMark(3)">
        <clr-icon shape="circle" size="72"></clr-icon>
      </div>
    </div>
  </div>
  <br>
  <div class="card">
    <button type="button" class="btn btn-link"
            [disabled]="!hasSelection" (click)="startGame()">play</button>
  </div>
</div>
