/*centers content within element*/
.page
{
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

/*centers element*/
.page-content
{
  display: inline-block;
}

/*arrange card options side by side with X on the left*/
.ex
{
  float: left;
}

/*arrange card options side by side with O on the right*/
.oh
{
  float: right;
}

/*background color of card*/
.card
{
  background: #F7F5ED;
}

/*sets card hover color to navigation header color*/
.card.clickable:hover
{
  box-shadow: 0 0.125rem 0 0 #485969;
  border: 1px solid #485969;
}

/*sets background color of component view*/
.content-area
{
  background: #F4F1E6;
}

/*centers name input*/
.name
{
  text-align: center;
}
