<div class="main-container">
  <div class="content-container">
    <div class="content-area">
      <clr-datagrid>
        <clr-dg-column>ID</clr-dg-column>
        <clr-dg-column>Player One</clr-dg-column>
        <clr-dg-column>Player Two</clr-dg-column>
        <clr-dg-column>Time and Date</clr-dg-column>
        <clr-dg-column>Winner</clr-dg-column>
        <clr-dg-column>Player One Mine Hits</clr-dg-column>
        <clr-dg-column>Player Two Mine Hits</clr-dg-column>
        <clr-dg-column>Turns</clr-dg-column>
        <clr-dg-row>
          <clr-dg-cell></clr-dg-cell>
          <clr-dg-cell></clr-dg-cell>
          <clr-dg-cell></clr-dg-cell>
          <clr-dg-cell></clr-dg-cell>
          <clr-dg-cell></clr-dg-cell>
          <clr-dg-cell></clr-dg-cell>
          <clr-dg-cell></clr-dg-cell>
          <clr-dg-cell></clr-dg-cell>
        </clr-dg-row>
        <clr-dg-footer>games</clr-dg-footer>
      </clr-datagrid>
    </div>
  </div>
</div>
