<section class="sidenav-content">
  <div class="sidenav-content-container">
    <h3>{{turnTitle}}</h3>
    <div id="player-one-box"><h4 class="name">{{playerOne}}</h4></div>
    <div id="player-two-box"><h4 class="name">{{playerTwo}}</h4></div>
  </div>
  <div class="save-game" *ngIf="hasWinner">
    <button type="button" class="btn btn-info-outline">save game</button>
    <button type="button" class="btn btn-success-outline"
            [routerLink]="'/play'">play again</button>
    <button type="button" class="btn btn-warning-outline"
            [routerLink]="'/home'">return home</button>
  </div>
</section>
