<section class="sidenav-content">
  <div class="sidenav-content-container">
    <h2>Your Turn:</h2>
    <div id="player-one-box"><h3 class="name">Player One</h3></div>
    <div id="player-two-box"><h3 class="name">Player Two</h3></div>
    <h2 class="name">Last Move:</h2>
    <div class="card">
      <div class="card-block">
        <p class="card-text">
          <!--<clr-icon shape="times" size="72" class="icon"></clr-icon>-->
          <!--<clr-icon shape="circle" size="72" class="icon"></clr-icon>-->
          <clr-icon shape="flame" size="72" class="is-error icon"></clr-icon>
        </p>
      </div>
    </div>
  </div>
</section>
