/*centers elements within it*/
.sidenav-content
{
  text-align: center;
}

/*centers element*/
.sidenav-content-container
{
  display: inline-block;
}

/*provides spacing between name and name outline*/
.name
{
  padding: 20px;
}

/*provides spacing between names and save game options*/
.save-game
{
  padding-top: 50px;
}
